<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <!-- ! Hide app brand if navbar-full -->
  {% if not navbar_full %}
  <div class="app-brand demo">
    <a href="{% url 'index' %}" class="app-brand-link">
      <span class="app-brand-logo demo me-1"> {% include 'partials/logo.html' %} </span>
      <span class="app-brand-text demo menu-text fw-semibold ms-2">{% get_theme_variables 'template_name' %}</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="menu-toggle-icon d-xl-block align-middle"></i>
    </a>
  </div>
  {% endif %}

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <li class="menu-item {% if 'index' == request.resolver_match.url_name or '/dashbord/' in request.path %}active{% endif %}">
        <a href="{% url 'index' %}" class="menu-link">
          <i class="menu-icon tf-icons ri-home-smile-line"></i>
        <div class="text-truncate" data-i18n="Dashboards">Dashboards</div>
      </a>
    </li>

    <li class="menu-item {% if '/artist/list/' in request.path %}active{% endif %}">
      <a href="{% url 'artist-list' %}" class="menu-link">
        <i class="menu-icon tf-icons ri-user-star-line"></i>
        <div class="text-truncate" data-i18n="Artist">Artists</div>
      </a>
    </li>

    <li class="menu-item {% if '/album/list/' in request.path %}active{% endif %}">
      <a href="{% url 'album-list' %}" class="menu-link">
        <i class="menu-icon tf-icons ri-disc-line"></i>
        <div class="text-truncate" data-i18n="Album">Albums</div>
      </a>
    </li>

    <li class="menu-item {% if '/song/list/' in request.path %}active{% endif %}">
      <a href="{% url 'song-list' %}" class="menu-link">
        <i class="menu-icon tf-icons ri-music-line"></i>
        <div class="text-truncate" data-i18n="Song">Songs</div>
      </a>
    </li>

    <li class="menu-item {% if '/award/list/' in request.path %}active{% endif %}">
      <a href="{% url 'award-list' %}" class="menu-link">
        <i class="menu-icon tf-icons ri-trophy-line"></i>
        <div class="text-truncate" data-i18n="Award">Awards</div>
      </a>
    </li>

  </ul>
</aside>
