<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <!-- ! Hide app brand if navbar-full -->
  {% if not navbar_full %}
  <div class="app-brand demo">
    <a href="{% url 'index' %}" class="app-brand-link">
      <span class="app-brand-logo demo me-1">
        {% include 'partials/logo.html' %}
      </span>
      <span class="app-brand-text demo menu-text fw-semibold ms-2">{% get_theme_variables 'template_name' %}</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="menu-toggle-icon d-xl-block align-middle"></i>
    </a>
  </div>
  {% endif %}


  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">

    <li class="menu-item {% if 'index' == request.resolver_match.url_name or '/dashbord/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-home-smile-line"></i>
        <div class="text-truncate" data-i18n="Dashboards">Dashboards</div>
        <span class="badge bg-danger rounded-pill ms-auto">5</span>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if 'index' == request.resolver_match.url_name %}active{% endif %}">
          <a href="{% url 'index' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Analytics">Charts</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% get_theme_variables 'live_preview' %}dashboard/crm/" class="menu-link" target="_blank">
            <div class="text-truncate" data-i18n="CRM">Artists</div>
            <span class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% get_theme_variables 'live_preview' %}app/ecommerce/dashboard/" class="menu-link" target="_blank">
            <div class="text-truncate" data-i18n="eCommerce">Albums</div>
            <span class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% get_theme_variables 'live_preview' %}app/logistics/dashboard/" class="menu-link" target="_blank">
            <div class="text-truncate" data-i18n="Logistics">Songs</div>
            <span class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% get_theme_variables 'live_preview' %}app/academy/dashboard/" class="menu-link" target="_blank">
            <div class="text-truncate" data-i18n="Academy">Awards</div>
            <span class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</span>
          </a>
        </li>
      </ul>
    </li>

</aside>
