{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Albums{% endblock %}

{% block content %}
<!-- Albums Table -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title"><h4>List of Albums</h4></div>
            <div class="card-category">Registered Albums</div>
          </div>
          <div class="card-body">
            <table class="table table-striped mt-3">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Artist</th>
                  <th scope="col">Album Type</th>
                  <th scope="col">Release Date</th>
                  <th scope="col">Language</th>
                </tr>
              </thead>
              <tbody>
                {% for album in albums %}
                <tr>
                  <td>{{ album.title }}</td>
                  <td>{{ album.artist.name }}</td>
                  <td>{{ album.album_type }}</td>
                  <td>{{ album.release_date }}</td>
                  <td>{{ album.language }}</td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="5" class="text-center">
                    <p class="text-sm font-weight-bold mb-0">No Records Found</p>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% include 'includes/pagination.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
