{% extends layout_path %} {% load static %} {% load i18n %} {% block title %}Dashboard - Analytics{% endblock title %}
{% block vendor_css %} {{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}" />
{% endblock vendor_css %} {% block vendor_js %} {{ block.super }}
<script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
{% endblock vendor_js %} {% block page_js %} {{ block.super }}
<script src="{% static 'js/dashboards-analytics.js' %}"></script>
{% endblock page_js %} {% block content %}
<div class="row gy-6">
  <!-- Albums Released Over Time -->
  <div class="col-xl-4 col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">Albums Released Over Time</h5>
      </div>
      <div class="card-body">
        <div id="albumsOverTimeChart" style="height: 300px"></div>
      </div>
    </div>
  </div>

  <!-- Album Type Distribution -->
  <div class="col-xl-4 col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">Album Type Distribution</h5>
      </div>
      <div class="card-body">
        <div id="albumTypeDistributionChart" style="height: 315px"></div>
      </div>
    </div>
  </div>

  <!-- Awards by Album -->
  <div class="col-xl-4 col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">Awards by Album</h5>
      </div>
      <div class="card-body">
        <div id="awardsByAlbumChart" style="height: 300px"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
